nav{
    background-color: #0000ffb3;
}

nav a{
    color: black !important;
    text-decoration: none;
    padding-right: 20px;
}

.navbar-nav{
    align-items: center;
}

.button{
    background-color: transparent;
    margin: 0;
}

.nav-item{
    display: flex;
    align-items: center;
}

@media screen and (max-width: 992px){
    nav a{
        padding-right: 0px;
    }
}

@media screen and (min-width: 991px){
    .navbar{
        padding: 18px 0;
    }
}